/* Login.css */
*
{
    
}
.fp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100lvh;
    background-image: url("./../../assets/images/imglogin.jpg");
    opacity: 0.9;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:inherit;
    background-color: rgba(255, 255, 255, 0.018);
    background-blend-mode: lighten;
}

.fp-form {
    width: 400px;
    padding: 20px;
    background-color: rgba(225, 223, 220, 0.783);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 300px;
    
}
.fp-form h2{
    color: #31312f;
    font-size: 32px;
    
}
.fp-group {
    margin-bottom: 20px;
}

.fp-group label {
    display: block;
    margin-bottom: 5px;
    color: rgb(45, 43, 43);
    font-size:17px;
    font-weight:600;
}

.fp-group input[type="text"],
input[type="password"] {
    width: 300px;
    padding: 8px;
    border: 1px solid #4342422c;
    border-radius: 43px;
    background-color: rgba(81, 79, 79, 0.183);   font-size: 16px;
    border-color: #8d8d8a;
}

.fp-button {
    width: 320px;
    padding: 10px;
    /* background-color: #785328e2; */
    background-color: #181818e2;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    padding-left: 90px;
    display: flex;
    /* margin-left: 110px; */
}

.fp-button:hover {
    background-color: #3e3c3ab0;
}
