.navbar2 {
    background-color: #000000;
    color: #fff;
    height:70px;
    width: 100%;
    margin-left: 0;
    
    
  }
    .container2 {
    display: flex;
    justify-content: space-between;
    padding:10px;
    flex-direction: row;
    
  }
  .container2 H3 {
    font-family: "Gidugu", sans-serif;
    font-size: 40px; 
    font-weight: 500;
    margin-top: -13px;
}
  
  .logo2 {
    font-size: 88px;
    margin: 0;
    padding-left: 12px;
  }
  
  .nav-links2 {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: -10px;
  }
  
  .nav-links2 li {
    display: inline-block;
    margin-right: 70px;
    padding-left: 55px;
    font-family: "Gidugu", sans-serif;
  }
  
  .nav-links2 a {
    text-decoration: none;
    color: #fff;
    font-size: 26px;
  }
  
  .nav-links2 a:hover {
    text-decoration: none;
    color:rgb(229, 214, 188);

  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #000;
    z-index: 1;
    width: 100px; /* Adjust width as needed */
    margin-left: 12px;
  }
  
  .dropdown-content li {
    display: block;
    padding: 5px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content li:hover {
    background-color: rgba(165, 29, 29, 0);
  }
  
  /* Adjusting padding for dropdown */
  .nav-links2 .dropdown {
    position: relative;
  }
  
  .nav-links2 .dropdown-content {
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column; /* Display items in a column */
  }
  
  .nav-links2 .dropdown-content li {
    padding-left: 0; /* Remove padding */
    width: 100%; /* Ensure full width */
    text-align: center; /* Center align text */
  }

  .logout-popup2 {
    position: absolute;
    color: #000000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffffa7;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .logout-popup2 p {
    margin-bottom: 15px;
  }
  
  .logout-popup2 button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    background-color: #9a8843;
    color: #080808;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
  }
  
  .logout-popup2 button:hover {
    background-color: #414344;
  }
  .lo2
  {
    font-size: 26px;
  }
  .lo2:hover
  {
    color:rgb(229, 214, 188);
    cursor: pointer;
  }